
/* Global */

body{
  margin: 0px 10%;
  line-height:1.6;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  background: url("../images/animie.jpeg")
  
  
  
}

.container{
  overflow-wrap: hidden;

}

/* Global */


/* Header */
#TopNotchNav ul li a{
  font-size: 16px;
}

#TopNotchNav ul li a:hover{
  background: greenyellow;
  border-radius: 20px;
  font-size: 20px;

}



.navbar{
  background-color: #fff;
  border-bottom-color: #00FFFF;
  margin-bottom: 0;

   }
.navbar-brand{

  background-image: url("../images/logo.png");
 padding: 35px 125px;

 }
.navbar-default .navbar-nav>li>a{
  color: #3498db;
}

.navbar-nav{
  padding-top: 20px;
  overflow: hidden;

  /* Header */


  /*  Text on image */
.carousel-caption{
  padding-bottom: 17%;
}


/* text on image */






}
/* jumbotron one */
.welcome{
  text-align: center;
  padding-bottom: 15%;
margin: 0;
  padding-top: 15%;
  background-image: url("../images/animie1.jpeg");
  color: white;
  opacity: 0.7;
;
}
.jumbotron h1, p{
  margin-left:30px;
  margin-right:30px;
}
/* Footer */
.page-footer{
  background-color: #34495e;
  color: white;
}
.footer-copyright{
  background: rgb(61, 165, 40);
  color: black;
}


/* ContactUs */

.contactUs{
  background-color: #dbc81a;
  margin: 0;
  padding-top:20px; 
  overflow: hidden;
  text-align: center;
}

.would-contact{
  padding-bottom: 20px;
}

.contact{
  padding-top: 18px;
  
}
 a{
  text-decoration:none;
  }


  /* contactus end */
 

  /* contact-form */

  .contact-page{
    box-sizing: border-box;
    /* background:#92bde7; */
    color:#b5c0ca;
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    

  }
  
/* FORM STYLES */
.contact form{
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #1577c7;
}

.contact form button{
  background:#78aa28;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:rgb(32, 30, 30);
  outline:0;
  transition: background-color 2s ease-out;
}

/* LARGE SCREENS */
@media(min-width:1920px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
}

 


  /* contac-fom end */



  /* company start */

  #company-head{
    background: rgb(120, 127, 235);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: white;
    
  }







